.form--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f4f7f9;
  padding: 15px;
}

.inputs-groups--container {
  display: flex;
  justify-content: space-between;
}

.inputs--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input {
  display: flex;
}

.inputs--container label {
  display: inline-block;
  min-width: 100px;
}

.input-error-message {
  color: red;
  font-weight: 600;
  padding-top: 5px;
}

.form-buttons--container {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
